<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GXSlideSegmentDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>336476771CB3B80F007D56E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>336476901CB3B80F007D56E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3364769B1CB3B80F007D56E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
